@media (orientation: landscape) {
  .website {
    width: 100vw;
    display: flex;
  }

  .portfolio {
    margin-left: 18vw;
    padding-left: 12vw;
    padding-right: 12vw;
    width: 58vw;
    font-size: 3vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  html::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  html {
    scroll-snap-type: y mandatory;
  }

  a {
    text-decoration: none;
    color: black;
  }

  u {
    color: orangered;
  }

  h2 {
    color: black;
  }
}